.process {
  &__content {
    @include page-grid;

    gap: 24px;
  }

  &__text-block {
    grid-column: 1/ -1;
    justify-items: start;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__cards {
    @include page-grid;

    grid-column: 1/-1;
    place-items: center;
    
    // justify-items: center;
    // align-items: center;
    @include on-desktop {
      grid-column: 6 / 13;
    }
  }

  &__services {
    margin: 0;
    font-family: $font-stack-1;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #C0CDD7;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;

    @include header-style($size: 32px, $lineHeight: 41.6px);

    color: $title-color;
    margin-bottom: 24px;
  }

  &__info {
    font-family: $font-stack-2;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $paragraph-color;
  }

.process__card {
    grid-column: 1 / -1;
    background-color: $text-color;
    width: 280px;
    height: 264px;
    margin-bottom: 24px;
    border-radius: 16px;
    box-shadow: 0 9px 18px 0 #25293108;
    padding: 32px;
    cursor: pointer;

  @include on-tablet {
    &:nth-child(1) {
      grid-column: 1 / 4;
    }
    &:nth-child(2) {
      grid-column: 4 / 7;
      margin-top: -130px;
    }
    &:nth-child(3) {
      grid-column: 1 / 4;
    }
    &:nth-child(4) {
      grid-column: 4 / 7;
      margin-top: -200px;
    }
  }

  &:first-child {
    margin-top: 48px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform 0.8s ease;
  }

  &__rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 24px;
    background-color:rgba(32, 96, 246, 0.1);
    color: $main-btn-color;

    @include header-style($size: 13px, $lineHeight: 19.5px);

    border-radius: 23px;
    margin-bottom: 24px;
  }

  &__list {
    margin: 0;
    padding: 0;

    @include text-style ($fontSize: 13px, $lineHeight: 19.5px);

    color:  #6C788B;
    list-style-type: none;
    margin-bottom: 32px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;

    & a {
      text-decoration: none;

      @include header-style($size: 15px, $lineHeight: 22.5px);

      text-align: center;
      color: #334563;
    }

    & img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    &:hover {
    @include hover(transform, scale(1.1));
    }
  }
 }
}
