.what-we-do {
  width: 100%;
  margin: 0 auto;
  background-color: $text-color;
  border-radius: 30px;

  &__title {
    margin: 0;
    grid-column: 1/-1;
    justify-items: center;
    padding-top: 72px;

    @include header-style($size: 44px, $lineHeight: 52.8px);

    text-align: center;
    color: $title-color;
    margin-bottom: 64px;

    @include on-tablet {
      padding-top: 128px;
      margin-bottom: 64px;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }

  &__cards {
    @include page-grid;

    place-items: center;
  }
}

.card {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  place-items: center;
  cursor: pointer;

  @include on-tablet {
    grid-column: 2 / 6;
    place-items: center;
  }

  @include on-desktop {
    grid-column: span 4;
    width: 214px;

  }

  &__text-block {
    grid-column: 1/ -1;

    @include on-tablet {
      grid-column: 2 / 6;
      place-items: center;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }

  &__img {
    display: block;
    width: 166px;
    height: 166px;
    border-radius: 16px;
    margin-bottom: 32px;
  }

  &__title {
    margin: 0;

    @include header-style($size: 20px, $lineHeight: 28px);

    text-align: center;
    color: $title-color;
    margin-bottom: 16px;

    @include hover(transform, scale(1.1));
  }

  &__info {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $paragraph-color;
    margin-bottom: 72px;
  }
}
